.navbar-background {
  background-color: #0063a6;
}
.card-background {
  background-color: #004e81;
}

/* .CodeMirror {
  height: 300px;
} */
.circle {
  color: black;
  text-align: center;
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.test-case {
  display: flex;
}
