.navbar-background {
  background-color: #0063a6;
}
.card-background {
  background-color: #004e81;
}

/* .CodeMirror {
  height: 300px;
} */
.circle {
  color: black;
  border:1px solid black;
  text-align: center;
  background: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.test-case {
  display: flex;
}

.circle-red {
	background-color: #ce1010;
}
.circle-green {
	background-color: #20ea12;
}
