{% extends "base.html" %} {% block content %}
<h1 class="text-white text-center mt-5">Создать задание</h1>
{% for message in get_flashed_messages() %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
<form action="" method="post" class="text-white col-md-8 offset-md-2 mt-5" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.task_title.label(class="mb-2") }}
        {{ form.task_title(class="form-control") }}
        {% for error in form.task_title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
</div>

    <div>
        {{ form.task_description.label(class="mb-2", type="textarea") }}
        {{ form.task_description(class="form-control") }}
        {% for error in form.task_description.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </div>

    <div>
        {{ form.task_input.label(class="mb-2") }}
        {{ form.task_input(class="form-control") }}
        {% for error in form.task_input.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </div>

    <div>
        {{ form.task_output.label(class="mb-2") }}
        {{ form.task_output(class="form-control") }}
        {% for error in form.task_output.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </div>

    <p>{{ form.submit(type="submit", class="btn btn-primary mt-3") }}</p>
</form>
{% endblock %}