{% extends "base.html" %} {% block content %}
<h1 class="text-white">Создание конкурса</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.contest_title.label(class="text-white") }}<br>
        {{ form.contest_title(class="form-control") }}<br>
        {% for error in form.contest_title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.contest_description.label(class="text-white") }}<br>
        {{ form.contest_description(class="form-control", type="textarea") }}<br>
        {{ form.join_deadline(class="form-control", placeholder="Дедлайн начала контеста") }}<br>
        {% for error in form.contest_description.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}