{% extends "base.html" %} {% block content %}

<div class="container-fluid code-container mt-3 text-white">
    <h1>Список соревноваий</h1>
    {% for contest in contests %}
    <div class="card card-background mb-3">
        <div class="card-header text-white">{{ contest.title }}</div>
        <div class="card-body text-white">
            <p class="card-text">{{ contest.description }}</p>
            <a href="/contests/{{ contest.id }}" class="btn btn-primary">Участвовать</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}