{% extends "base.html" %}

{% block import %}
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/addon/edit/matchbrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/addon/edit/closebrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"></script>
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/dracula.css"
/>

{% endblock %}

{% block content %}
<div class="container-fluid code-container mt-3">
    <div class="row mb-3 text-white">
        <div class="col">
            <h1>Задание № {{ task_id }}</h1>
            <div class="card card-background mb-3">
                <div class="card-header text-white">Условие:</div>
                <div class="card-body text-white">
                    <p class="card-text">{{ start_task.description }} </p>
                </div>
            </div>
            <div class="card card-background mb-3" style="width: 12rem;">
                <div class="card-header text-white">Входные данные:</div>
                <div class="card-body text-white">
                    {%for row in start_task.input.split("!!!")%}
                    <p>{{ row }}</p>
                    {%endfor%}
                </div>
            </div>
            <div class="card card-background mb-3" style="width: 12rem;">
                <div class="card-header text-white">Выходные данные</div>
                <div class="card-body text-white">
                    {%for row in start_task.output.split("!!!")%}
                    <p>{{ row }}</p>
                    {%endfor%}
                </div>
            </div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group me-2" role="group">
                    {% for task in tasks %}
                    <a href="{{ url_for('contest_code', contest_id=contest.id, task_id=task.id)}}"
                       class="btn btn-primary">{{ tasks.index(task) + 1}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <button
                    id="run"
                    type="button"
                    onclick="evaluatePython()"
                    class="btn btn-primary"
            >
                Отправить
            </button>
        </div>
    </div>
    <div class="row codespace">
        <div class="col-md-6">
            <textarea id="code" name="code"></textarea>
        </div>
    </div>
</div>
{% endblock %}