{% extends "base.html" %} {% block content %}
<p class="fs-1 mt-3 text-white">
  👋 Здравствуйте! Мы рады приветствовать вас на сайте проведения олимпиад по
  программированию в IT-КУБ.
</p>
<p class="fs-6 text-white">
  На нашем сайте вы найдете всю необходимую информацию о проводимых олимпиадах,
  правилах участия и регистрации. Мы приглашаем всех желающих принять участие в
  наших мероприятиях и пожелать удачи всем участникам!
</p>

<div class="row m-1" style="justify-content: center;">
  <div class="card card-background text-white col-md-3 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 m-1">
    <div class="mt-3">
      <span class="material-symbols-outlined">
        code
      </span>
      <h4 class="title">Редактор кода</h4>
      <p class="description">
        Он позволяет участникам писать код без необходимости устанавливать дополнительное ПО.
      </p>
    </div>
  </div>

  <div class="card card-background text-white col-md-3 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 m-1">
    <div class="mt-3">
      <span class="material-symbols-outlined">
        construction
      </span>
      <h4 class="title">Тестирование</h4>
      <p class="description">
        На сайте есть система тестирования кода, которая позволяет проверить работоспособность написанного кода.
      </p>
    </div>
  </div>

  <div class="card card-background text-white col-md-3 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 m-1">
    <div class="mt-3">
      <span class="material-symbols-outlined">
        workspace_premium
        </span>
      <h4 class="title">Сертификаты</h4>
      <p class="description">
        Так же у нас автоматически выдаются сертификаты участникам олимпиады.
      </p>
    </div>
  </div>

  </div>
</div>

<p class="mt-5 text-white fs-3">
  💫 Наш сервис очень прост в использовании и не требует от организаторов никаких специальных знаний или навыков.
</p>
{% if not current_user.is_authenticated %}
<div class="row">
  <a href="/register" class="btn btn-primary p-3" class="justify-content: center">
    <b>Попробуйте сами!</b>
  </a>  
</div>
{% endif %}

{% endblock %}
