{% extends "base.html" %}

{% block content %}
	<h1 class="text-white text-center mt-5">Авторизация</h1>
	<form action="" method="post" class="col-md-8 offset-md-2 mt-5">
		{{ form.hidden_tag() }}
		<p>
			{{ form.email.label(class="text-white") }}<br>
			{{ form.email(class="form-control", type="email") }}<br>
			{% for error in form.email.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label(class="text-white") }}<br>
			{{ form.password(class="form-control", type="password") }}<br>
			{% for error in form.password.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>
		<p>{{ form.remember_me() }} {{ form.remember_me.label(class="text-white") }}</p>
		<p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
		<div class="text-white">{{ message }}</div>
	</form>
{% endblock %}