{% extends "base.html" %}
{% block content %}
    <div
      class="d-flex flex-column flex-md-row p-3"
      style="justify-content: center"
    >
      <div class="p-3">
        <div class="card card-background text-white" style="width: 20rem">
          <img
            src="{{ url_for('user_avatar') }}"
            class="card-img-top"
            alt="user_avatar"
          />
          <div class="card-body text-center">
            <h5 style="margin-bottom: 0">{{ current_user.surname }} {{ current_user.firstname }} {{ current_user.patronymic }}</h5>
            <p>Логин: {{ current_user.login }}</p>
            <hr />
            {% if current_user.job_title == 'teacher' %}
            <span class="badge rounded-pill text-bg-primary">Учитель</span>
            {% elif current_user.job_title == 'student' %}
            <span class="badge rounded-pill text-bg-primary">Ученик</span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-background text-white" style="width: 20rem">
            <div class="card-body">
                <h4 class="card-title">Сменить пароль</h4>
                <form action="" method="post">
                    {{ form_change_password.hidden_tag() }}
                    <p>
                        {{ form_change_password.old_password(class="form-control", type="password") }}
                        {% for error in form_change_password.old_password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form_change_password.new_password(class="form-control mt-1", type="password") }}
                        {% for error in form_change_password.new_password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form_change_password.repeated_new_password(class="form-control mt-1", type="password") }}
                        {% for error in form_change_password.repeated_new_password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>

                    <p>{{ form_change_password.submit(type="submit", class="btn btn-primary") }}</p>
                    <div class="text-white">{{ message_for_password_form }}</div>
                </form>
            </div>
        </div>

        <div class="card card-background text-white mt-3" style="width: 20rem">
          <div class="card-body">
            <h4 class="card-title">Сменить аватарку</h4>
              <form action="" method="post">
                  {{ form_change_avatar.hidden_tag() }}
                  <p>
                        {{ form_change_avatar.avatar(class="form-control", type="file") }}
                        {% for error in form_change_avatar.avatar.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                  </p>
                    <p>{{ form_change_avatar.submit(type="submit", class="btn btn-primary") }}</p>
                    <div class="text-white">{{ message }}</div>
              </form>
          </div>
        </div>

        <a class="btn btn-danger text-white w-100 mt-4">Выйти</a>
      </div>
      <div class="p-3">
        <div class="card card-background text-white" style="width: 20rem">
          <div class="card-body">
            <h5 style="margin-bottom: 0">Сертификаты</h5>
            <div class="card mt-3 card-background text-white">
              <div class="card-body">"Сертифякат №1"</div>
            </div>

            <div class="card mt-3 card-background text-white">
              <div class="card-body">"Сертифякат №2"</div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

