{% extends "base.html" %} {% block content %}
  <body class="navbar-background">
    <div
      class="d-flex flex-sm-column flex-md-row p-3"
      style="justify-content: center"
    >
      <div class="p-3">
        <div class="card card-background text-white" style="width: 20rem">
          <img
            src="https://t.me/i/userpic/320/sayolight.jpg"
            class="card-img-top"
          />
          <div class="card-body text-center">
            <h5 style="margin-bottom: 0">{{ current_user.surname }} {{ current_user.firstname }} {{ current_user.patronymic }}</h5>
            <p>{{ current_user.login }}</p>
            <hr />
            {% if current_user.job_title == 'teacher' %}
            <p>Учитель</p>
            {% elif current_user.job_title == 'student' %}
            <p>Ученик</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="card card-background text-white" style="width: 20rem">
          <div class="card-body">
            <h4 class="card-title">Сменить пароль</h4>
            <input
              type="password"
              class="form-control"
              placeholder="Новый пароль"
            />
            <input
              type="password"
              class="form-control mt-1"
              placeholder="Повторите новый пароль"
            />
            <input
              type="submit"
              class="btn btn-primary w-100 mt-1"
              value="Сменить"
            />
          </div>
        </div>

        <div class="card card-background text-white mt-3" style="width: 20rem">
          <div class="card-body">
            <h4 class="card-title">Сменить аватарку</h4>
            <input
              type="file"
              class="form-control"
              placeholder="Новый пароль"
            />
            <input
              type="submit"
              class="btn btn-primary w-100 mt-1"
              value="Сменить"
            />
          </div>
        </div>

        <a class="btn btn-danger text-white w-100 mt-4" href="/logout">Выйти</a>
      </div>
    </div>
{% endblock %}
