{% extends "base.html" %} {% block content %}

    {% if contests %}
<div class="container mt-3 text-white">
    <h1>Ваши соревнования</h1>
    {% for contest in contests %}
        <div class="card card-background mb-3">
            <div class="card-header text-white">{{ contest.title }}</div>
            <div class="card-body text-white">
                <p class="card-text">{{ contest.description }}</p>
                <p class="card-text">Даты проведения: {{ contest.join_deadline.strftime('%d.%m.%Y %H:%M') }} -
                    {{ contest.end_deadline.strftime('%d.%m.%Y %H:%M') }}</p>
                {% if contest.join_deadline <= now < contest.end_deadline %}
                <a class="btn btn-primary" href="{{ url_for('tasks', contest_id=contest.id) }}">Задания</a>
                <a class="btn btn-primary" href="{{ url_for('contests_edit', id=contest.id) }}">Изменить</a>
                {% else %}
                <a class="btn btn-primary" href="{{ url_for('contests_results', contest_id=contest.id) }}">Посмотреть результаты</a>
                {% endif %}
                <a class="btn btn-danger" href="{{ url_for('contest_delete', id=contest.id) }}">Удалить</a>
                <div style="margin-top: 10px;">
                {% for task in contest.tasks %}
                    <span class="badge bg-success">{{ task.title }}</span>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <a class="btn btn-primary" href="{{ url_for('contests_add') }}">Создать</a>
</div>

{% else %}
    <h1 class="text-white mt-5">Вы ещё не создали конкурсы</h1>
    <a class="btn btn-primary mt-1" href="{{ url_for('contests_add') }}">Создать</a>
{% endif %}
{% endblock %}