{% extends "base.html" %} {% block content %}

    {% if contests %}
<div class="container-fluid code-container mt-3 text-white">
    <h1>Ваши конкурсы</h1>
    {% for contest in contests %}
        <div class="card card-background mb-3">
            <div class="card-header text-white">{{ contest.title }}</div>
            <div class="card-body text-white">
                <p class="card-text">{{ contest.description }}</p>
                <a class="btn btn-primary" href="../../contests/teacher_list/{{ contest.id }}">Изменить</a>
                <a class="btn btn-danger" href="../../contest_delete/{{ contest.id }}">Удалить</a>
            </div>
        </div>
    {% endfor %}
    <a class="btn btn-primary" href="../../contests/add">Создать</a>
</div>

{% else %}
    <h1 class="text-white">Вы ещё не создали конкурсы</h1>
    <a class="btn btn-primary" href="../../contests/add">Создать</a>
{% endif %}
{% endblock %}